extends ../layouts/layout.pug

include ../components/todoList.pug

block append head
  title="Form Submit Todo List - Express Datastar"

block content
  .page-content-header
    a.button.button--ghost(href='/') Back home
    h1 Form Submit Todo List
  section.card-container.todo-panel(aria-label='Todo controls')
    form.add-todo-bar(method='post' action='/todo-form/create')
      label.add-todo-bar__label(for='todo-name') Add a todo item
      .add-todo-bar__controls
        input#todo-name.add-todo-bar__input(type='text' name='name' placeholder='Plan the next task' autocomplete='off' required='required')
        button.button.add-todo-bar__button(type='submit') Add todo
  +todoList(todos)
