mixin todoList(items)
  section.card-container.todo-panel(aria-label='Todo items')
    ul.todo-list
      if !items.length
        li.todo-item
          .todo-item__body
            span.todo-item__label-text No todo items yet.
      each item in items
        li.todo-item
          .todo-item__body
            label.todo-item__label
              span.todo-item__label-text= item.name
          .todo-item__actions
            form(method='post', action=`/todo-form/delete/${item.id}`)
              button.button.button--outline(type='submit') Delete
